.icon_menu{
    font-size: 35px;
    cursor: pointer;
}

.modal_menu {
    background-color: rgb(240, 240, 240);
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(20in);
    transition: transform 500ms ease;
    box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.76);
}

.modal_menu-visible {
    transform: translateX(0in);
}

.menu_phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.text_menu{
    font-size: 22px;
    color: var(--second_text);
}

.menu_close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


@media (min-width: 768px) {
    .menuPhone{
        display: none;
    }
}